<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="708d61">  <td>23/07/23 20:46:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistationwithTestNG.setUp()[pri:0, instance:com.pack.RegistationwithTestNG@74751b3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1191654595</td>   <td></td> </tr>
<tr bgcolor="708d61">  <td>23/07/23 20:46:35</td>   <td>2973</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistationwithTestNG.testLogin()[pri:0, instance:com.pack.RegistationwithTestNG@74751b3]">testLogin</td> 
  <td>main@1191654595</td>   <td></td> </tr>
</table>
